<div class="example-container">
  <h1 class="hcontact">Send Me A Message</h1>
  <form  [formGroup] ="contactForm" (ngSubmit) = sendMessage(contactForm)  >
    <mat-form-field class="zinput" appearance="fill">
      <mat-label>Your Email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
      <mat-error *ngIf="contactForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="zinput" appearance="fill">
      <mat-label>Brief Message</mat-label>
      <textarea matInput formControlName="message" required></textarea>

    </mat-form-field>
    <button type="submit" class="btn-submit">Send</button>
  </form>




</div>

