<div class="acontainer">
  <div class="myphoto">
    <img class="myimg" src="/assets/images/myimg.jpg" alt="">
  </div>

    <div class="name">ADJARO lord OGAGA</div>
    <div class="profession">FULLSTACK DEVELOPER/WRITER/TEACHER</div>
    <hr>
    <div class="bio">
      <h2>PROFFESSION</h2>
      <p>I studied MECHANICAL ENGINEERING at DELTA STATE UNIVERSITY NIGERIA</p>
      <p>I build software solutions for both small scale startups, and mega corporations</p>
      <br>
      <p>I specialise on Javascript(Angular 9+) and Nodejs..I still write java at an intermediate leve...for now</p>
      <hr>
      <p>Currently the CEO and Founder of <br> GENXTECHNOLOGIES</p>

         <p>
           please visit

         </p>

    </div>
    <div class="web">
      <a href="http://genxtech.com">www.genxtech.com</a>
    </div>

</div>

<div class="knowMore">
  <p>
   want to know more????? click any of the icons below
  </p>
 </div>
<hr style="color: aliceblue;">



