.acontainer{
  height:100%;
  width:80%;
  margin:0 auto;
  background-color:whitesmoke;
  color: black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px solid black;
}

.myphoto{
  width:100%;
  margin: 0 auto;
  text-align: center;
}
.myimg{
  width:15rem;
  height:12rem;
  border-bottom: 3px solid blue;
}
.name{
  width:100%;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mystack{
  width:100%;
  margin:0 auto;
  text-align: center;
  font-weight: 500;
  color:  #9e1e1e;
}

$width : 100%;
.body-contaner{
  width: $width;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.education, .hobby, .onlineLinks{
  width: auto;
  margin-left: auto;
  padding: 1rem;
}
.contents{
  border-left: 2px solid black;
  border-left-style: dashed;
  height: 100%;
}
