<div class="acontainer">
  <div class="myphoto">
    <img class="myimg" src="/assets/images/myimg.jpg" alt="">
  </div>

    <div class="name">Name: lord OGAGA ADJARO</div>

  <div class="mystack">FULL STACK DEVELOPER <br>ANGULAR/NODEJS/JAVA </div>
  <div class="bio">
    <h2>My Bio</h2>
    <p></p>
  </div>
  <hr>
  <p></p>
  <hr>
  <div class="body-contaner">
    <div class="eductaion">EDUCATION</div>
    <div class="hobby">HOBBY</div>
    <div class="onlineLinks">
      ONLINE URLS
    </div>
  </div>
</div>
<hr style="color: aliceblue;">
