<div class="acontainer">
  <div class="myphoto">
    <img class="myimg" src="/assets/images/myimg.jpg" alt="">
  </div>

    <div class="name">Name: lord OGAGA ADJARO</div>

  <div class="mystack">FULL STACK DEVELOPER <br>ANGULAR/NODEJS/JAVA </div>
  <div class="bio">
    <h2>My Bio</h2>
    <p></p>
  </div>
  <hr>
  <p></p>
  <hr>
  <div class="body-contaner">
    <div class="eductaion">
      <h1>EDUCATION</h1>
      <div class="contents">
        <p>B.ENG(2:1)</p>
      <p>AUTO CAD</p>
      </div>


    </div>
    <div class="hobby">
      <h1>HOBBY</h1>
      <div class="contents">
        <p>Running, listening to music</p>
      </div>

    </div>
    <div class="onlineLinks">
      <h1>ONLINE URLS</h1>
      <div class="contents">
        <p >github: github.com/ogagacodes</p>
      </div>

    </div>
  </div>
</div>
<hr style="color: aliceblue;">
