<div class="my-container" id="navbar">
  <div class="firstNav" id="navbar">
    <div routerLink="/" class="logo">logo</div>
    <div class="secondNav">

      <div routerLink='/about' class="about">About</div>
      <div routerLink='/blog' class="blog">Blog</div>
      <div routerLink='/jobs' class="jobs">Jobs</div>
      <div routerLink='/contact' class="jobs">contact</div>
    </div>
    <div class="leftContact">
      <div class="email">adjaro.ogaga@gmail.com <br>+2348162968926</div>

    </div>
  </div>

</div>
<div class="side-bar">
 <a href="http://www.instagram.com/lord_o_adjas">
  <i class="fab fa-instagram icon"></i>
</a>
<a href="https://www.facebook.com/lordoadjas">
  <i class="fab fa-facebook-square icon"></i>
</a>
 <a href="https://twitter.com/OAdjaro">
  <i class="fab fa-twitter icon"></i>
</a>

</div>
<!-- mobile menu -->

<div class="mobilenav" id="myTopnav">
  <div routerLink='/about' id="about" (click)="myFunction()" class="ymb1">About</div>
      <div routerLink='/blog' id="blog" (click)="myFunction()" class="ymb1">Blog</div>
      <div routerLink='/jobs' id="jobs" (click)="myFunction()" class="ymb1">Jobs</div>
      <div routerLink='/contact' id="contact" (click)="myFunction()" class="ymb1">contact</div>
      <a  class="icon" (click)="myFunction()">
        <i id="icon1" class="fa fa-bars"></i>
      </a>
    </div>
<a  class="icon" (click)="myFunction()">
  <i  id="icon1" class="fa fa-bars attach"></i>
</a>
