<div class="my-container" id="navbar">
  <div class="firstNav" id="navbar">
    <div routerLink="/" class="logo">logo</div>
    <div class="secondNav">

      <div routerLink='/about' class="about">About</div>
      <div routerLink='/blog' class="blog">Blog</div>
      <div routerLink='/jobs' class="jobs">Jobs</div>
      <div routerLink='/contact' class="jobs">contact</div>
    </div>
    <div class="leftContact">
      <div class="email">adjaro.ogaga@gmail.com <br>+2348162968926</div>

    </div>
  </div>

</div>
<div class="side-bar">
  <i class="fab fa-instagram icon"></i>
  <i class="fab fa-facebook-square icon"></i>
  <i class="fab fa-twitter icon"></i>
</div>
<!-- mobile menu -->

<div class="mobilenav" id="myTopnav">
  <div routerLink='/about' class="about">About</div>
      <div routerLink='/blog' class="blog">Blog</div>
      <div routerLink='/jobs' class="jobs">Jobs</div>
      <div routerLink='/contact' class="jobs">contact</div>
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
