<div class="h-container">
  <div class="mmy-slider">
    <p class="welcome">ogagapassions   </p>

        <blockquote class="blog-name" >"Reality is a check for sanity"</blockquote>

      <div class="buttons">
        <p class="button-elements">Read Stories</p>
        <p routerLink='/courses'  class="button-elements">Video Tutorials</p>
      </div>

    <div class="circle">
      <img class="my-img" src="/assets/images/myimg.jpg" alt="my-photo">

    </div>
    <div class="name">ADJARO LORD OGAGA(Engr.)</div>
  </div>
</div>
<hr>
<div class="jobs-container">
  <h2 class="myjobsHeader">JOBS DONE</h2>
  <div class="myjobs">
    <div class="jobs" >
      <h2 class="job-title" >RECRUITMENT APP</h2>
    </div>
    <div class="jobs">
      <h2 class="job-title">AIRTIME CONVERTER</h2>
    </div>
    <div class="jobs">
      <h2 class="job-title">CALCULATOR</h2>
    </div>
    <div class="jobs">
      <h2 class="job-title">E-PAYMENT WEB APP</h2>
    </div>
  </div>
</div>


<hr>
<h2 class="about-header">Recent Blog Posts</h2>
<div class="blog">


  <div class="blog-post">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Every Developer Needs a web site</mat-card-title>
        <mat-card-subtitle>By Adjaro Lord Ogaga</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.

        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="blog-post">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Every Developer Needs a web site</mat-card-title>
        <mat-card-subtitle>By Adjaro Lord Ogaga</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.

        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="blog-post">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Every Developer Needs a web site</mat-card-title>
        <mat-card-subtitle>By Adjaro Lord Ogaga</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.

        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
<div class="designRight"></div>
<div class="designLeft"></div>
<div class="designFooter"></div>
<div class="moving1"></div>
<div class="moving2"></div>
<div class="moving3"></div>
<div class="moving4"></div>
<div class="moving5"></div>
<div class="moving6"></div>
<div class="moving7"></div>
<div class="moving8"></div>
<div class="moving9"></div>
<div class="moving10"></div>
<div class="moving02"></div>
<div class="moving01"></div>
