
<div class="h-container">
  <div class="mmy-slider">
    <p class="welcome">ogagapassions</p>

        <blockquote class="blog-name" >"Reality is a check for sanity"</blockquote>

      <div class="buttons">
        <p class="button-elements">Read Stories</p>
        <p routerLink='/courses'  class="button-elements">Video Tutorials</p>
      </div>

    <div class="circle">
      <img class="my-img" src="/assets/images/myimg.jpg" alt="my-photo">

    </div>
    <div class="name">ADJARO LORD OGAGA(Engr.)</div>
  </div>
</div>

