<div class="course-container">
  <h1>Explore Courses</h1>

  <br><br>

  <h1 style="font-size: xx-large;">COMING SOON</h1>
  <!-- <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
      <video width="100%" height="100%" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video>
    </mat-grid-tile>
    <mat-grid-tile>
      <video width="100%" height="100%" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
      </video>
    </mat-grid-tile>
    <mat-grid-tile><video width="100%" height="100%" controls>
      <source src="movie.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
    Your browser does not support the video tag.
    </video></mat-grid-tile>
    <mat-grid-tile><video width="100%" height="100%" controls>
      <source src="movie.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
    Your browser does not support the video tag.
    </video></mat-grid-tile>
  </mat-grid-list> -->
</div>

