.blogUltimateContainer{
  width: 90%;
  margin: 0 auto;
}
.designB{
  position:relative;
  left:5%;
  width:50%;
  box-sizing: border-box;
  top:30%;
  width:100%;
  height:10%;
  background-color: #230578;
  box-shadow: 2px 2px 2px blue;
  z-index: -4000;
}
.blog{
  position: fixed;
  top:40%;
  font-weight: 900;
  font-size: xx-large;
  margin-top:auto;
}
.blogContainer{
  display:flex;
  flex-direction: column;

  width:80%;
  height: 100%;
  margin:0 auto;
  margin-bottom: 0;
  margin-top:1rem;
  color:rgb(190, 40, 40);
}

.firstBlog{
  width:80%;
  height: 100%;
  background-color: whitesmoke;
  box-shadow: 2px 2px solid black;
  margin-top: 1rem;
}

.blogImg{
  width:100%;
  height: 20rem;
}
.image{
  width: 100%;
  height: auto;
}
.callAction{
  width:100%;
  margin: 0 auto;
  text-align: center;
  border-top: 3px solid black;
  margin-top: 4rem;
}
 .callAction span{
   font-weight: 900;
   font-size: x-large;
   background-color: grey;
   border-radius: 6px;
   padding:auto;
   box-sizing: border-box;

 }


//  styling blog contents

.blogCont{
  display:block;
  margin: 0;
}


