<div class="blogUltimateContainer">
  <div class="designB"></div>
  <h1 class="blog">BLOG <br> POSTS</h1>


    <div class="blogContainer">
      <div class="firstBlog">
        <div class="image">
          <img class="blogImg" src="/assets/images/blogImages/net1.jpg" alt="" srcset="">
          </div>
          <div class="contentContainer">
            <div class="header">
              <h1>WHAT REALLY ARE NEURAL NETWORKS</h1>
              <p class="blogWriter">BY ADJARO OGAGA</p>
            </div>
            <div class="brief">
              <p class="readMore">READ MORE...</p>
            </div>
          </div>
      </div>

      <div class="firstBlog">
        <div class="image">
          <img class="blogImg" src="/assets/images/blogImages/img1.jpg" alt="" srcset="">
          </div>
          <div class="contentContainer">
            <div class="header">
              <h1>IS YOU PC WASTING AWAY</h1>
              <p class="blogWriter">BY ADJARO OGAGA</p>
            </div>
            <div class="brief">
              <p class="readMore">READ MORE...</p>
            </div>
          </div>
      </div>

      <div class="firstBlog">
        <div class="image">
          <img class="blogImg" src="/assets/images/blogImages/serv1.png" alt="" srcset="">
          </div>
          <div class="contentContainer">
            <div class="header">
              <h1>MICROSERVICES THE BIG PICTURE</h1>
              <p class="blogWriter">BY ADJARO OGAGA</p>
            </div>
            <div class="brief">
              <p class="readMore">READ MORE...</p>
            </div>
          </div>
      </div>

      <div class="firstBlog">
        <div class="image">
          <img class="blogImg" src="/assets/images/blogImages/calc1.jpg" alt="" srcset="">
          </div>
          <div class="contentContainer">
            <div class="header">
              <h1>WHAT REALLY IS CALCULUS</h1>
              <p class="blogWriter">BY ADJARO OGAGA</p>
            </div>
            <div class="brief">
              <p class="readMore">READ MORE...</p>
            </div>
          </div>
      </div>


      <div class="firstBlog">
        <div class="image">
          <img class="blogImg" src="/assets/images/blogImages/img1.jpg" alt="" srcset="">
          </div>
          <div class="contentContainer">
            <div class="header">
              <h1>IS YOU PC WASTING AWAY</h1>
              <p class="blogWriter">BY ADJARO OGAGA</p>
            </div>
            <div class="brief">
              <p class="readMore">READ MORE...</p>
            </div>
          </div>
      </div>
      <div class="firstBlog">
        <div class="image">
          <img class="blogImg" src="/assets/images/blogImages/img1.jpg" alt="" srcset="">
          </div>
          <div class="contentContainer">
            <div class="header">
              <h1>IS YOU PC WASTING AWAY</h1>
              <p class="blogWriter">BY ADJARO OGAGA</p>
            </div>
            <div class="brief">
              <p class="readMore">READ MORE...</p>
            </div>
          </div>
      </div>
      <div class="firstBlog">
        <div class="image">
          <img class="blogImg" src="/assets/images/blogImages/img1.jpg" alt="" srcset="">
          </div>
          <div class="contentContainer">
            <div class="header">
              <h1>IS YOU PC WASTING AWAY</h1>
              <p class="blogWriter">BY ADJARO OGAGA</p>
            </div>
            <div class="brief">
              <p class="readMore">READ MORE...</p>
            </div>
          </div>
      </div>
<h1 class="callAction">
  Prefer Videos??? <br>
  <span>GO TO VIDEOS</span>
</h1>

</div>
