<div class="blogUltimateContainer">

  <h1 class="blog">BLOG</h1>

<mat-tab-group class="ycontainer">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">computer</mat-icon>
      Programming
    </ng-template>
    <div class="blogContainer">
      <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
    </div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">book</mat-icon>
      Literature
    </ng-template>
    <div class="blogContainer">
      <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" >school</mat-icon>
      Mathematics
    </ng-template>

    <div class="blogContainer">
      <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile>WHAT IS MATHEMATICS</mat-grid-tile>
        <mat-grid-tile>INTRO TO CALCULUS</mat-grid-tile>
        <mat-grid-tile>ALGEBRA</mat-grid-tile>
        <mat-grid-tile>GEOMETRY</mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
</mat-tab-group>


<h1 class="callAction">
  Prefer Videos??? <br>
  <span>GO TO VIDEOS</span>
</h1>

</div>
