<mat-tab-group class="ycontainer">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">computer</mat-icon>
      Programming
    </ng-template>
    <div class="blogContainer">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
    </div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">book</mat-icon>
      Literature
    </ng-template>
    <div class="blogContainer">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label style="color:white">
      <mat-icon class="example-tab-icon" >school</mat-icon>
      Mathematics
    </ng-template>

    <div class="blogContainer">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
</mat-tab-group>
